rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin(userId) {
      return exists(/databases/$(database)/documents/users/$(userId)) &&
             get(/databases/$(database)/documents/users/$(userId)).data.isAdmin == true;
    }

    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if true;
      allow create: if isAuthenticated() && isOwner(userId);
      allow update: if isAuthenticated() && (isOwner(userId) || isAdmin(request.auth.uid));
      allow delete: if isAuthenticated() && isAdmin(request.auth.uid);
    }

    match /ads/{adId} {
      allow read: if true;
      allow create: if isAuthenticated();
      allow update, delete: if isAuthenticated() && (resource.data.userId == request.auth.uid || isAdmin(request.auth.uid));
    }

    match /reviews/{reviewId} {
      allow read: if true;
      allow create: if isAuthenticated();
      allow update: if isAuthenticated() && resource.data.userId == request.auth.uid;
      allow delete: if isAuthenticated() && isAdmin(request.auth.uid);
    }

    match /competitions/{compId} {
      allow read: if true;
      allow write: if isAuthenticated() && isAdmin(request.auth.uid);
    }

    match /immigration/{postId} {
      allow read: if true;
      allow write: if isAuthenticated() && isAdmin(request.auth.uid);
    }

    match /articles/{articleId} {
      allow read: if true;
      allow write: if isAuthenticated() && isAdmin(request.auth.uid);
    }

    match /users/{userId}/savedAds/{adId} {
      allow read, write: if isAuthenticated() && isOwner(userId);
    }

    match /reports/{reportId} {
      allow create: if true;
      allow read, delete: if isAuthenticated() && isAdmin(request.auth.uid);
    }

    match /contacts/{contactId} {
      allow create: if true;
      allow read, delete: if isAuthenticated() && isAdmin(request.auth.uid);
    }

    match /stats/general {
      allow read: if true;
      allow write: if isAuthenticated() && isAdmin(request.auth.uid);
      allow update: if isAuthenticated() 
                    && (
                      (request.resource.data.jobs == resource.data.jobs + 1 || request.resource.data.jobs == resource.data.jobs - 1) ||
                      (request.resource.data.seekers == resource.data.seekers + 1 || request.resource.data.seekers == resource.data.seekers - 1) ||
                      (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['jobs', 'seekers', 'competitions', 'immigration', 'users']))
                    );
    }
  }
}
